body,#app{
	
	overflow: hidden;
	.wangEditor-container{
	    border-radius: 4px;
	    overflow: hidden;
	    border:1px solid #d7dde4;
	}
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(227, 227, 227, 0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
a{
	color:#336699;
}
img[lazy=loading],img {
	background-color: #ccc;
	background-image: url(./imgs/loading-spin.svg);
	background-repeat: no-repeat;
	background-position: center;
	
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover {
	border-right: none;
	color: #fff;
	background: #336699!important;
	//39f
}
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item-active, .ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item:hover, .ivu-menu-primary.ivu-menu-horizontal .ivu-menu-submenu-active, .ivu-menu-primary.ivu-menu-horizontal .ivu-menu-submenu:hover {
    background: #fff;
    color: #336699;
}
header{
	background-color: #336699;
	//margin-bottom: 15px;
	.ivu-menu{
		line-height: 80px;
		height: 80px; 
		
	}
	.ivu-col{

		.logo{
			line-height: 80px;
			height: 80px; 
			width: 100%;
			background-image: url(./imgs/logo.png);
			background-repeat: no-repeat;
			background-position:center;
			background-size: 80%;
		}
		&.ivu-col-span-lg-15{
			.q-menu{
				&>.ivu-menu-item{
					padding: 15px 18px 0px 18px;
				}
			}
			
		}
	}
}
.q-menu{
	display: table;
	margin: 0 auto;
	text-align: center;
	&>.ivu-menu-item{
		height: 80px;
		text-align: center;
		padding: 15px 15px 0px 15px;
		i{
			display: block;
			font-size: 26px;
			line-height: 1.0;
			margin-right:0px; 
		}
		span{
			display: block;
			line-height: 1.5;
		}

	}
	.q-right{
			float: right;
		}
	.q-inline{
		display: inline-block;
		padding-top: 25px;
	}
}
.q-lg-icon{
	display: block;
	margin: 0px;
	&>.ivu-menu-item{
		
		i{
			font-size: 32px;
		}
	}
}
.l-login-page{
	
	
}
.login{
	background-image: url(./imgs/loginBg.jpg);
	.ivu-input-wrapper.ivu-input-type{
		.ivu-input{
			
		}
	}
	.ivu-input-large,.ivu-btn-large{
        padding: 6px 10px;
        height: 50px;
    }
    .ivu-btn-large{
    	font-size:16px;
    }
}

/*======页面布局========*/


.layout{
	background: #f5f7f9;
	position: relative;
	overflow:hidden;
	.l-row{
		height:100%;
		.ivu-col{
			overflow-y: auto;
			height: 100vh;
			padding-bottom: 100px;
			//height: calc(100vh-10rem);
		}
		.ivu-form{
			.ivu-col{
				height: auto;
				padding:15px;
			}
		}
	}
	
}
.layout-breadcrumb{
	padding: 10px 15px 0;
	.ivu-form{
		.ivu-form-item{
			margin-bottom: 15px;
		} 
	}

}
.layout-content{
	position: relative;
	
	margin: 0px 15px 15px 15px;
	
	background: #fff;
	border-radius: 4px;
	padding: 10px;
}
.layout-content-main{
	padding: 10px;
}
.layout-copy{
	text-align: center;
	padding: 10px 0 20px;
	color: #9ea7b4;
}
.layout-menu-left{
	background: #fff;
}
.layout-header{
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	h3{
		display: inline-block;
		line-height:47px;
	}
}
.layout-logo-left{
	width: 90%;
	height: 30px;
	background-image: url(./imgs/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 14px center;
	border-radius: 3px;
	margin: 15px auto;
}
.layout-ceiling-main a{
	color: #9ba7b5;
}
.layout-hide-text .layout-text{
	display: none;
}

.layout-content{
	overflow: inherit;
}
.f-center{
	text-align: center;
}
/*======文件上传列表========*/
.l-upload-list{
	display: inline-block;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid transparent;
	border-radius: 4px;
	overflow: hidden;
	background: #fff;
	position: relative;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
	margin-right: 4px;
	&.l-desc{
		width: 188px;
		height: 100px;
		.l-img-desc{
			position: absolute;
			bottom: -20px;
			left: 0;
			right: 0;
			.ivu-input{
				border-radius: 0;
				padding: 2px;
				height: 22px;
			}
		}
	}
}
.l-upload-list img{
	width: 100%;
	height: 100%;
}
.l-upload-list-cover{
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.6);
}
.l-upload-list:hover .l-upload-list-cover{
	display: block;
}
.l-upload-list-cover i{
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	margin: 0 2px;
}
.ivu-upload.show{
	display: inline-block;
}
/*======表格列宽========*/
.l-min-width{
	width: 200px;
}
.l-m-min-width{
	width: 300px;
}
.list{	
	.ivu-card{
		.ivu-card-body{
			padding:0px;
		}
	}
}
/*======省略号========*/
.l-ellipsis{
	.ivu-table-cell{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}
/*======单行下拉选择========*/
.l-sel-inline{
	display: flex;
	width: 300px;
	span[slot=prepend]{
		width: 85px;
	    padding: 4px 7px;
	    font-size: inherit;
	    font-weight: 400;
	    line-height: 22px;
	    color: #657180;
	    text-align: center;
	    background-color: #eee;
	    border: 1px solid #d7dde4;
	    border-radius: 6px;
	    border-bottom-right-radius: 0!important;
    	border-top-right-radius: 0!important;
    	border-right: 0!important;
	}
	div{
		width: 215px;
		.ivu-select-selection,
		.ivu-input{
			border-bottom-left-radius: 0!important;
    		border-top-left-radius: 0!important;	
		}
	}
}
/*======会话========*/
.l-chat{
	position: relative;
	display: block;
	&.right{
		float: right;
		.ivu-tooltip-inner{
			background-color: #3399ff;
		}
		.ivu-tooltip-arrow{
			border-left-color: #3399ff;
		}
	}
	&.left{
		float: left;
		.ivu-tooltip-inner{
			background-color: #fff;
			color: #657180;
		}
		.ivu-tooltip-arrow{
			border-right-color: #fff;
		}
	}

}
/*======状态=start=======*/
.l-s-Info{
	color:#3399ff;
}
.l-s-Success{
	color:#00cc66;
}
.l-s-Warning{
	color:#ff9900;
}
.l-s-Error{
	color:#ff6600;
}
/*======状态=end=======*/
.ivu-table th{
	height: 48px;
}
.iconfont.btn{
	color:#336699;
	font-size: 20px;
	cursor: pointer;
	padding: 0px 5px;
}
.q-text-center{
	input{
		text-align: center;
		border: none;
	}
}
.q-form-btn{
	text-align: center;
	margin-left: -150px;
	button:first-child{
		margin-right: 15px;
	}
}

.ivu-breadcrumb-item-link{
	cursor: pointer;
	color:#657180;	
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
	background-color:#eee;
}
.q-imgs .container .q-row .ivu-col.q-col-right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-left:5px;
	padding-right: 5px; 
	
	.ivu-input{
		text-align: right;
		width: 100px;
		padding-right: 5px;
	}
	.q-discout{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.ivu-input{
			width: 85px;
		}
		&::after{
			content:'%';

		}
	}
}
.q-imgs .container .q-row .ivu-col.ivu-col-span-5{
	

}
.q-imgs .container.q-table{
	padding-right: 150px;
	padding-left: 150px;
}
.q-imgs .container .q-row .ivu-col.q-flex{
	display: flex;
	padding-left: 5px;
	padding-right: 5px;
	justify-content: center;
	align-items: center;
}
.q-form-no-bottom{
	.ivu-form-item{
		margin-bottom: 0px;
	}
	
}
.layout .l-row .q-form-no-bottom.ivu-form{
	.ivu-col{
		padding-top: 0px;
		padding-bottom: 0px;
	}
}
.q-imgs .container .q-right .q-img-list,
.q-imgs .container .q-right .q-img-list .l-upload-list{
	width: 158px;
}
.q-imgs .container .q-right .q-img-list span{
	display: inline-block;
    width: 158px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    height: 42px;
    &:hover{
		white-space: pre-line;
    }
}
.q-top-b a{

	&:first-child{
		margin-right:10px;
	}
}
/*======页面字体大小=start=======*/
/*
.ivu-menu,.ivu-menu-item,
.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item{
	font-size: 16px!important;;
}
body,#app,
.ivu-table,.ivu-btn,.ivu-input,.ivu-input-group,
.ivu-form .ivu-form-item-label,
.ivu-modal-header p, .ivu-modal-header-inner,
.ivu-form-item-content,
.ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value{
	font-size: 14px!important;;
}
.ivu-input,
.ivu-select-single .ivu-select-selection{
	height: 35px!important;;
}
*/
/*======页面字体大小=end=======*/